		h1
	{
		font-size: 40px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #DC2315;
  padding:16px;
  font-weight:#BA4902;
  text-align:center;
  display:block;
  margin:16px;

}


		#header{
			background-image:url(paris2.jpg);	
			background-color:paris.jpg;
			color: white;
			text-align: center;
			padding: 15px;
            height: 140px; 
		}

		#nav{
			line-height: 30px;
			background-color: #EFD3C5;
			height: 40px;
			width: 100%;
			float: left;
			padding-left: 500px;
            padding-bottom: 30px;
		}


.btn { 

    border:0; 
    font-size: 10pt; 
    padding: 0 20px
    text-align: center ; 
    color: white; 
    text-shadow: 1px 1px 1px #000; 
    border-radius: 10px; 
    background-color: #F3B18B; 
	height : 40px;
	font-size: 12pt;

}


.btn:hover { 
    background-color: white; 

}

	#section{
			background-color: #EFD3C5;
			width: auto 
			float: left;
			padding: 5px;
			height: 5000px;
        
		}

#flash {
    
    text-align: center ; 
    font-size: 15pt; 
    
    
}
		#footer{
			background-color: #976C52;
			color: white;
			clear: both;
			text-align: center;
			padding: 10px;
            height: 5;
		}



		.account{
			
			position: absolute;
			top: 10px;
			left: 1210px;
			width : 35px; 
			height: 35px;
			
		}

		.basket{
			
			position: absolute;
			top: 45px;
			left: 1210px;
			width : 35px; 
			height: 35px;
			
		}
		
		.home{
			
			position: absolute;
			top: 155px;
			left: 1210px;
			width : 35px; 
			height: 35px;
			
		}
		
		.ece{
			
			position: absolute;
			top: 8px;
			left: 8px;
			width : 140px; 
			height: 140px;
			
		}

		.vetementh{
			
			position: absolute;
			top: 518px;
			left: 415px;
			/*width : 440px; 
			height: 750px;*/
			
		}
		
		.vesteh{
			
			position: absolute;
			top: 758px;
			left: 315px;
			/*width : 440px; 
			height: 750px;*/
			
		}
		
		.chaussureh{
			
			position: absolute;
			top: 1358px;
			left: 335px; 
			/*width : 440px; 
			height: 750px;*/
			
		}
		
		
		.styled {
    border: 0;
    line-height: 2.5;
	position: absolute;
	top: 658px;
	left: 645px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.styled3 {
    border: 0;
    line-height: 2.5;
	position: absolute;
	top: 1245px;
	left: 645px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled4 {
    border: 0;
    line-height: 2.5;
	position: absolute;
	top: 1856px;
	left: 645px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
